.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(100px);
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 6vw;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(142, 171, 186, 0.34);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 12px;
    padding: 2rem;
    color: #111;
    height: 10vh;
}

.name {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}

.roleLine {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typewriter {
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    padding-left: 0.25rem;
    animation: blink-caret 0.8s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

.enterWebsite {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 6vw;
}

.triangle {
    background-color: rgba(222, 235, 242, 1);
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    filter: blur(2);
    position: absolute;
    width: 100%;
    height: 100%;
    animation: pulse 1s infinite;
}
.triangleTwo {
    left: 40%;
    background-color: black;
    animation-delay: 0.1s;
}

@keyframes pulse {
    0%, 100% {
        transform: translate(70px);
        opacity: 0.7;
    }
    50% {
        transform: translate(100px);
        opacity: 1;
    }
}