.typewriter {
    /*font-family: monospace;*/
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    padding-right: 5px;
    display: inline-block;
    animation: blink-caret 0.8s step-end infinite;
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}
