@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");

h1 {
    padding-top: 5rem;
    padding-left: 2rem;
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 0.2em 0;
    font-size: 5em;
    letter-spacing: -0.01em;
    transform: rotate(-6deg);
    /*   color: transparent; */
}

.hinged {
    display: inline-block;
    color: #432415;
    animation: x-spin-t-c 3s infinite;
}

@keyframes x-spin-t-c {
    0% {
        transform: rotateX(0deg);
        transform-origin: top center;
    }
    100% {
        transform: rotateX(360deg);
        transform-origin: top center;
    }
}

.wavy {
    color: #2b6ab1;
    animation-name: wavy;
    animation-duration: 1.3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    position: relative;
    top: 0;
    left: 0;
}

@keyframes wavy {
    0% {
        top: 0px;
    }
    50% {
        top: -15px;
    }
    100% {
        top: 0px;
    }
}

.fallingText {
    display: inline-block;
    color: #141a89;
    text-shadow: 5px 5px #eedc20;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-animation: fall 4s infinite;
    animation: fall 4s infinite;
}

@-webkit-keyframes fall {
    from,
    15% {
        -webkit-transform: rotate(0) translateX(0);
        transform: rotate(0) translateX(0);
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(0.07, 2.02, 0.67, 0.57);
        animation-timing-function: cubic-bezier(0.07, 2.02, 0.67, 0.57);
    }
    50%,
    60% {
        -webkit-transform: rotate(90deg) translateX(0);
        transform: rotate(90deg) translateX(0);
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(0.13, 0.84, 0.82, 1);
        animation-timing-function: cubic-bezier(0.13, 0.84, 0.82, 1);
    }
    85%,
    to {
        -webkit-transform: rotate(90deg) translateX(200px);
        transform: rotate(90deg) translateX(200px);
        opacity: 0;
    }
}

@keyframes fall {
    from,
    15% {
        -webkit-transform: rotate(0) translateX(0);
        transform: rotate(0) translateX(0);
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(0.07, 2.02, 0.67, 0.57);
        animation-timing-function: cubic-bezier(0.07, 2.02, 0.67, 0.57);
    }
    50%,
    60% {
        -webkit-transform: rotate(90deg) translateX(0);
        transform: rotate(90deg) translateX(0);
        opacity: 1;
        -webkit-animation-timing-function: cubic-bezier(0.13, 0.84, 0.82, 1);
        animation-timing-function: cubic-bezier(0.13, 0.84, 0.82, 1);
    }
    85%,
    to {
        -webkit-transform: rotate(90deg) translateX(200px);
        transform: rotate(90deg) translateX(200px);
        opacity: 0;
    }
}
