html, body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body.default-bg {
    background-image: linear-gradient(
            45deg,
            hsl(27deg 22% 54%) 0%,
            hsl(30deg 19% 51%) 18%,
            hsl(32deg 18% 49%) 26%,
            hsl(35deg 17% 46%) 33%,
            hsl(38deg 16% 44%) 39%,
            hsl(42deg 15% 42%) 44%,
            hsl(45deg 13% 40%) 50%,
            hsl(50deg 12% 38%) 56%,
            hsl(55deg 11% 36%) 61%,
            hsl(61deg 9% 34%) 67%,
            hsl(68deg 9% 33%) 74%,
            hsl(75deg 8% 31%) 82%,
            hsl(82deg 7% 30%) 100%
    );
}

body.welcome-bg {
    background: white url("/images/bg.gif") no-repeat center center fixed;
    background-size: contain;
}

.titleWrapper {
    padding-left: 6rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
}

main.content {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-sizing: border-box;
}


.navWrapper {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    min-width: 200px;
    max-width: 100%;
}

.contentWrapper {
    flex-grow: 1;
    min-width: 0;
    min-height: 0;
    display: flex;
    align-items: center;
    overflow: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.contentWrapper > * {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

footer {
    height: 3vh;
    flex-shrink: 0;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}

