.navContainer {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    font-family: sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

.nav a {
    background-image: url('/images/nav/darkBg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 6rem;
    height: 6rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: background-image 0.3s ease;
    flex-shrink: 0;
}

.nav a:hover {
    background-image: url('/images/nav/lightBg.svg');
}

.nav a img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    pointer-events: none;
    display: block;
}

.navItem {
    position: relative;
    display: inline-block;
}


